body {
  margin: 0;
  font-family: Arial;
}

.dark {
  background: #020617;
  color: white;
}

.light {
  background: white;
  color: black;
}

.container {
  display: flex;
  gap: 20px;
}

.list {
  width: 30%;
  max-height: 80vh;
  overflow-y: auto;
}

.reader {
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.item {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.pages {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
